.card {
  border: 1px solid #000;
  padding: 10px 20px;
  .wp-block-columns & {
    padding: 0;
    h2 {
      font-size: 2rem;
    }
    .card-copy {
      padding: 0 20px 20px;
    }
  }
  .card-image {
    border-bottom: 5px solid green;
    img {
      display: block;
    }
  }
}

.slideshow {
  .flexslider {
    ul.slides {
      list-style: none;
      padding-left: 0;
      li {
        display: none;
        &:first-child {
          display: block;
        }
      }
    }
  }
}